<template>
  <v-app>

    <Dialog />

   

    <v-app-bar app 
      style="
        background: linear-gradient(90deg, rgba(30,136,229,1) 0%, rgba(255,208,38,1) 50%, rgba(22,167,92,1) 100%);
      "
    >
      <v-img
         class="mx-2"
         src="./assets/logo_jds.png" alt="logo JDS"
         max-height="150"
         max-width="150"
         contain
       ></v-img>
      
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <v-slide-x-transition leave-absolute>
          <router-view></router-view>
        </v-slide-x-transition>
      </v-container>
    </v-main>

    <v-footer app>
       @Jabar Digital Service 
    </v-footer>
</v-app>
</template>



<style scoped>
  .image{
    width:200px;
    height:80px; 
    background-image: url("./assets/jdst.png");
    background-color: #cccccc;
    background-size: cover;
  }
</style>